/*modelo*/
body {
    font: normal 20px Arial;
    color: white;
    background-color: cadetblue;
    text-align: center;
}
.t {
    text-align: center;
}
.p {
    background-color: blueviolet;
    color: black;
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}