/*modelo*/
body {
    font: normal 20px Arial;
    color: white;
    background-color: rgb(0, 70, 70);
    text-align: center;
}
.t {
    text-align: center;
    text-shadow: 1px 1px 10px black; 
    color: rgb(212, 212, 212);
    margin-bottom: 30px;
}
.p {
    background-color: blueviolet;
    color: black;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
